<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54651170211-pm2no130q54k86le3tbat9p5b5r5g2ik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54651170211-pm2no130q54k86le3tbat9p5b5r5g2ik</string>
	<key>API_KEY</key>
	<string>AIzaSyAmIN0KZ6g5ZE5lmvA0JDQO52U48iV3QNY</string>
	<key>GCM_SENDER_ID</key>
	<string>54651170211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.reuseit.app</string>
	<key>PROJECT_ID</key>
	<string>reuseit-a37ea</string>
	<key>STORAGE_BUCKET</key>
	<string>reuseit-a37ea.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54651170211:ios:7588c1f5a997a5f900fe16</string>
</dict>
</plist>